.mjs-nestedSortable-error {
    background: #fbe3e4; border-color: transparent;
}

ol {
    margin: 0; padding: 0; padding-left: 30px;
}

ol.sortable,ol.sortable ol {
    margin: 0 0 0 25px; padding: 0; list-style-type: none;
}

ol.sortable {
    margin: 4em 0;
}

.sortable li {
    margin: 5px 0 0 0; padding: 0;
}

.sortable li div {
    border: 1px solid #d4d4d4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border-color: #D4D4D4 #D4D4D4 #BCBCBC; padding: 6px; margin: 0; cursor: move; 

}

.panel-default {
    opacity: 0.9;
}
.form-group.last { margin-bottom:0px; }

body { padding-top:30px; }
.form-control { margin-bottom: 10px; }

.label,.glyphicon { margin-right:5px; }

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}


.modal-dialog {
    width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Main carousel style */

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.thumb {
    margin-bottom: 30px;
}


ul.room_facilities{ padding-bottom:20px;padding-left: 5px;}
ul.room_facilities li{ display:block; float:left; height:30px; margin:0 10px 10px 0; text-indent:-9999px; width:30px;}
ul.room_facilities li a{ cursor:pointer; display:block; height:30px; width:30px;}
ul.room_facilities li.lcd a{ background:url(../img/icons_room.png) no-repeat -1px 0;}
ul.room_facilities li.wifi a{ background:url(../img/icons_room.png) no-repeat -50px 0;}
ul.room_facilities li.safe a{ background:url(../img/icons_room.png) no-repeat -97px 0;}
ul.room_facilities li.bath a{ background:url(../img/icons_room.png) no-repeat -144px 0;}
ul.room_facilities li.loundry a{ background:url(../img/icons_room.png) no-repeat -192px 0;}
ul.room_facilities li.parking a{ background:url(../img/icons_room.png) no-repeat -242px 0;}
ul.room_facilities li.breakfast a{ background:url(../img/icons_room.png) no-repeat -288px 0;}
ul.room_facilities li.dinner a{ background:url(../img/icons_room.png) no-repeat -335px 0;} 


#panel-home {
    height: 350px;
}
.container {
    width: 960px;
}
.thumbnail {
    border: none;
}
@media (max-width: 768px) {
    .carousel {
        width: auto;
    }
    .container {
        width: auto
    }
}

@media (max-width: 992px) {
    .carousel {
        width: auto;
    }
    .container {
        width: auto
    }
}

@media (max-width: 1200px) {
    .carousel {
        width: auto;
    }
    .container {
        width: auto
    }
}