/* 
    Document   : test
    Created on : Aug 30, 2013, 4:02:12 PM
    Author     : Syiewa
    Description:
        Purpose of the stylesheet follows.
*/
.placeholder {
	border: 1px dashed #4183C4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.mjs-nestedSortable-error {
	background: #fbe3e4; border-color: transparent;
}

ol {
	margin: 0; padding: 0; padding-left: 30px;
}

ol.sortable,ol.sortable ol {
	margin: 0 0 0 25px; padding: 0; list-style-type: none;
}

ol.sortable {
	margin: 4em 0;
}

.sortable li {
	margin: 5px 0 0 0; padding: 0;
}

.sortable li div {
	border: 1px solid #d4d4d4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border-color: #D4D4D4 #D4D4D4 #BCBCBC; padding: 6px; margin: 0; cursor: move; 
	
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    #carousel-example-generic{
        margin : auto;

    }
}

@media only screen and (max-width: 979px) {
    #carousel-example-generic{
        margin : auto;}
    }

    @media only screen and (max-width: 767px) {
        #carousel-example-generic{
        margin : auto;}
}

@media only screen and (max-width: 480px) {
    #carousel-example-generic{
        margin : auto;}
}

@media only screen and (max-width: 320px) {
    #carousel-example-generic{
        margin : auto;}
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
}



